.users--posts{
    display: flex;
}
.posts{
    width: 60%;
    border: 2px black solid;
    padding: 20px;
}
.users{
    width: 40%;
    border: 2px black solid;
    padding: 20px;
}
.comments{
    width: 97%;
    border: 2px black solid;
    padding: 20px;
}